*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 300px;
    font-family: sans-serif;



}
img{
    display: inline-block;
}
.container{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(147 19 143) -12%, rgb(227 24 101 / 90%) 85.43%);
margin: 10px;

}
.user{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #fff;

}
.user-circle-one{
    position: absolute;
    background-color:lawngreen;
    width: 25px;
    height: 25px;
top: 85px;
    left: 35px;
    z-index: 44;
    border-radius: 50%;

}
.user-circle-two{
    position: absolute;
    background-color:red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 85px;
    left: 35px;
    z-index: 22;
}
.google-icon{
    position: relative;
    top:105px;
    left: 20px;
    z-index: 33;
}
.kun-uz-icon{
    position: relative;
    top: 110px;
    left: 15px;
    z-index: 11;

}
.username{


    position: absolute;
    top: 100px;
    left:8px;
    font-size: 16px;



    color: rgb(73, 69, 69);



}
.container + .container{
    margin: 20px;
}
.stories{
    text-decoration: none;
    color: black;

}